.container {
  background-color: white;
  height: 40vw;
  width: 90vw;
  border-radius: 25px;
  margin-top: 4.5%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px 8px #888888;
  overflow: auto;
}

.left,
.middle,
.right {
  height: 38vw;
  /* border: 1px solid blue; */
}
/* Left Column */

.directory {
  height: 19vw;
}

.links-div {
  margin-top: 30%;
  margin-left: 20%;
}
.hyperlink {
  color: black;
}
a.hyperlink:hover {
  font-size: 150%;
  color: black;
}

.icons-col {
  height: 19vw;
  /* border: 1px solid; */
}

.all-icons {
  margin-top: 25%;
}

.github-icon,
.linkedin-icon,
.instagram-icon {
  margin-left: 20%;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 20%;
  box-shadow: 2px 2px 5px #888888;
}

/* Middle Column */
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info {
  margin-top: 10%;
  float: left;
}

#full-name {
  font-size: 50px;
}
/* Right Column */
.main-image {
  margin-top: 10%;
}

.img-thumbnail {
  border-radius: 10%;
}

/* Contact me html */
.contact-me-col {
  padding-top: 5%;
}

.contact-me {
  width: 720px;
}

/* Projects.html */
.image {
  max-width: 200px;
  max-height: 200px;
}

.project-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

#pic1,
#pic2 {
  margin-top: 2%;
}
