.container {
  background-color: white;
  height: 40vw;
  width: 90vw;
  border-radius: 25px;
  margin-top: 4.5%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px 8px #888888;
}

.left,
.middle,
.right {
  height: 38vw;
  border: 1px solid blue;
}
/* Left Column */

.directory {
  height: 19vw;
}

.links-div {
  margin-top: 40%;
  margin-left: 20%;
}
.hyperlink {
  color: black;
}

.icons-col {
  height: 19vw;
  border: 1px solid;
}

.all-icons {
  margin-top: 25%;
}

.github-icon,
.linkedin-icon,
.instagram-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* Middle Column */
.contact-info {
  margin-top: 10%;
  float: left;
}

#full-name {
  font-size: 50px;
}
/* Right Column */
.image {
  margin-top: 30%;
}
