.container {
  background-color: white;
  height: 40vw;
  width: 90vw;
  border-radius: 25px;
  margin-top: 4.5%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px 8px #888888;
}

.left,
.middle,
.right {
  height: 35vw;
  border: 1px solid blue;
}

.directory {
  height: 20vw;
}

.test {
  margin-top: 40%;
  margin-left: 20%;
}
.icons {
  height: 15vw;
  border: 1px solid;
}

.contact-info {
  margin-top: 10%;
  float: left;
}

#full-name {
  font-size: 50px;
}

.image {
  margin-top: 30%;
}
